/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* Typography */
body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 800;
  text-transform: lowercase;
  font-size: 4.0625em;
}
nav, h2 {
  font-family: 'Roboto Slab', serif;
}
nav {
  font-size: 1.625em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-weight: 600;
  font-size: 1.5em;
}
.about p {
  font-weight: 600;
  font-size: 1.25em;
}
li p, .contact p{
  font-size: 1.125em;
}

/* Layout */
header {
  background-color: #87D12B;
  padding: 2.25em 1.5em;
}
header h1 {
  display: inline-block;
}
header nav {
  display: inline-block;
  margin-left: auto;
}
nav li {
  display: inline-block;
}