/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}





/* General */
html {
  scroll-behavior: smooth;

}


/* Typography */
body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 800;
  text-transform: lowercase;
  font-size: 4.0625em;
}
nav, h2 {
  font-family: 'Roboto Slab', serif;
}
nav {
  font-size: 1.625em;
}
nav li a {
  text-decoration: none;
  color: #000000;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-weight: 600;
  font-size: 1.5em;
}
.about p {
  font-weight: 600;
  font-size: 1.25em;
}
li p, .contact p {
  font-size: 1.125em;
}

/* Layout */
body {
  padding-bottom: 4em;
  padding-top: 2em;
  background-color: #f8fff0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b5fb5e' fill-opacity='0.98'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
header, div {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: #87D12B;
  padding: 1.5em 2.25em;
  position: relative;
}
header nav {
  display: inline-block;
  position: absolute;
  top: 2.5em;
  right: 2.25rem;
  text-align: right;
}
nav li {
  display: inline-block;
  margin-left: 1.5em;
}
.section {
  background-color: #B5FB5E;
  margin-top: 1em;
  padding: 1.5em 2.25em 2.25em;
}
h2 {
  margin-bottom: 1em;
}
.text-section {
  display: inline-block;
  width: 59%;
  vertical-align: text-top;
}
img {
  width: 35%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: text-top;
  height: 20em;
  object-fit: cover;
  filter: grayscale(1);
  mix-blend-mode: multiply;
  transition: filter 0.25s, mix-blend-mode 0.25s;
}
img:hover {
  filter: grayscale(0);
  mix-blend-mode: normal;
}
.menu-items {
  margin-left: 40%;
  margin-bottom: 2em;
}
.menu-items li {
  margin-bottom: 2.5em;
}
.contact .text-section p {
  margin-bottom: 2.5em;
}

